.textarea {
    display: flex;
    flex-direction: column;
    label {
        font-weight: 600;
        margin-bottom: 4px;
    }
}

.textarea-input {
    padding: 6px 12px;
    border: 1px solid rgba(var(--grayscale-900), 0.12);
    border-radius: 6px;
    resize: none;

    font-family: var(--font-family-system), sans-serif;
    font-size: 14px;
    line-height: 1.8;

    &:hover {
        border-color: rgba(var(--grayscale-900), 0.56);
    }
    &:focus {
        border-width: 2px;
        border-color: rgb(var(--indigo-500));
    }
}
