@font-face {
    font-family: Segoe UI;
    src: url('~/assets/fonts/SegoeUI/SegoeUI-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: Segoe UI;
    src: url('~/assets/fonts/SegoeUI/SegoeUI-Semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: Segoe UI;
    src: url('~/assets/fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2');
    font-weight: 700;
}
