@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--font-family-system), sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}
