:root {
    // Task Creation From
    --task-creation-form-width: 360px;
    --task-creation-form-padding: 32px;

    --task-creation-form-medium-width: 280px;
    --task-creation-form-medium-padding: 24px;

    --task-creation-form-narrow-max-width: 740px;
    --task-creation-form-narrow-padding: 24px;

    // Task List From
    --task-list-width: 520px;
    --task-list-padding: 32px;

    --task-list-medium-width: 400px;
    --task-list-medium-padding: 24px;

    --task-list-narrow-max-width: 740px;
    --task-list-narrow-padding: 24px;

    // Font
    --font-family-system: Segoe UI, sans-serif;
    --separator: 200, 200, 200;

    // Black & White
    --black: 0, 0, 0;
    --white: 255, 255, 255;

    // Grayscale
    --grayscale-50: 249, 249, 251;
    --grayscale-100: 243, 243, 246;
    --grayscale-200: 229, 229, 235;
    --grayscale-300: 209, 209, 219;
    --grayscale-400: 157, 156, 175;
    --grayscale-500: 108, 107, 128;
    --grayscale-600: 76, 75, 99;
    --grayscale-700: 56, 55, 81;
    --grayscale-800: 32, 31, 55;
    --grayscale-900: 18, 17, 39;

    // Indigo
    --indigo-50: 242, 243, 255;
    --indigo-100: 222, 224, 250;
    --indigo-200: 180, 183, 240;
    --indigo-300: 135, 141, 232;
    --indigo-400: 96, 104, 219;
    --indigo-500: 68, 75, 211;
    --indigo-600: 63, 67, 200;
    --indigo-700: 54, 56, 188;
    --indigo-800: 45, 44, 176;
    --indigo-900: 30, 20, 157;

    // Red
    --red-50: 254, 242, 242;
    --red-100: 254, 226, 226;
    --red-200: 254, 202, 202;
    --red-300: 252, 165, 165;
    --red-400: 248, 113, 113;
    --red-500: 239, 68, 68;
    --red-600: 220, 38, 38;
    --red-700: 185, 28, 28;
    --red-800: 153, 27, 27;
    --red-900: 127, 29, 29;

    // Green
    --green-50: 236, 253, 245;
    --green-100: 209, 250, 229;
    --green-200: 167, 243, 208;
    --green-300: 110, 231, 183;
    --green-400: 52, 211, 153;
    --green-500: 16, 185, 129;
    --green-600: 5, 150, 105;
    --green-700: 4, 120, 87;
    --green-800: 6, 95, 70;
    --green-900: 6, 78, 59;

    // Cyan
    --cyan-50: 228, 250, 252;
    --cyan-100: 187, 243, 247;
    --cyan-200: 144, 236, 244;
    --cyan-300: 103, 228, 239;
    --cyan-400: 78, 220, 235;
    --cyan-500: 67, 214, 232;
    --cyan-600: 62, 196, 213;
    --cyan-700: 56, 174, 186;
    --cyan-800: 51, 154, 162;
    --cyan-900: 42, 117, 118;
}
