.task-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task {
    background-color: rgb(var(--white));

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 12px;

    @include sm {
        padding: 16px;
        flex-direction: column;
        gap: 12px;
    }

    .task-info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        .task-checkbox {
            width: 20px;
            height: 20px;
        }
        .task-title {
            font-size: 16px;
        }
    }
    .task-actions {
        width: 100%;
        display: flex;
        gap: 12px;

        @include sm {
            justify-content: space-between;
        }

        .detail-btn,
        .remove-btn {
            flex-grow: 1;
        }
    }
}

.task-details {
    header.task-details-title {
        padding: 12px 0;
        font-weight: 700;
        font-size: 20px;

        @include md {
            font-size: 18px;
        }

        @include sm {
            font-size: 18px;
        }
    }

    .form-row {
        display: flex;
        gap: 12px;
        margin-bottom: 12px;

        @include sm {
            flex-direction: column;
        }

        .due-date-field,
        .priority-field {
            flex-grow: 1;
        }
    }
    .form-group {
        margin-bottom: 10px;
    }
}

.description-textarea {
    width: calc(var(--task-list-width) - var(--task-list-padding) * 2);
    height: 200px;

    @include md {
        width: calc(var(--task-list-medium-width) - var(--task-creation-form-medium-padding) * 2);
        height: 120px;
    }

    @include sm {
        height: 120px;
        width: 100%;
        max-width: calc(var(--task-list-narrow-max-width) - var(--task-list-narrow-padding) * 2);
    }
}

.update-task-btn {
    width: 100%;
}
