.task-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task {
    background-color: rgb(var(--white));

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 12px;
    .task-info {
        display: flex;
        gap: 12px;
        .task-checkbox {
            width: 20px;
        }
        .task-title {
            font-size: 16px;
        }
    }
    .task-actions {
        display: flex;
        gap: 12px;
    }
}

.task-details {
    header {
        padding: 12px 0;
    }
    .form-row {
        display: flex;
        gap: 12px;
        margin-bottom: 12px;
        .due-date-field,
        .priority-field {
            flex-grow: 1;
        }
    }
    .form-group {
        margin-bottom: 10px;
    }
}

.description-textarea {
    width: 500px;
}

.update-task-btn {
    width: 100%;
}
